# ---> ArchLinuxPackages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/


# ---> Archives
*.7z
*.rar
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.cab

# ---> systemd
*.service
*.socket
*.timer

# ---> snap
*.snap
*.service
*.timer
*.socket

# ---> specific to this project
openrc/
alpm-hooks/
artix-meson.patch
openrc-extra/
rc-conf-artix.patch
